<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gtsr.gtsr">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".testModule.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".qubeTestResults.QubeGraphResultActivity"/>
        <activity android:name=".qubeTestResults.QubeSampleReadyActivity" />
        <activity android:name=".qubeTestResults.QubeTestResultActivity" />

        <receiver android:name=".WifiReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".testModule.TestActivity" />
        <activity android:name=".loginModule.LoginActivity" />
        <activity android:name=".loginModule.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".testModule.SelectTestStripActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".testModule.PairDeviceViewController" />
        <activity android:name=".testModule.ResultPageViewController" />
        <activity android:name=".testModule.SampleReadyActivity" />
        <activity android:name=".testModule.AnalizingPageViewController" />
        <activity android:name=".testModule.ScanViewControllerActivity" />
        <activity android:name=".testModule.DownloadStripViewController" />
        <activity android:name=".testModule.PastResultsActivity" />
        <activity android:name=".testModule.HtmltoPdfConversionActivity" />
        <activity android:name=".qubeTestResults.QUBEPastResultsActivity" />
        <activity android:name=".qubeTestResults.QUBEHtmltoPdfConversionActivity" />
        <activity android:name=".qubeTestResults.QubeTestingActivity" />
        <activity android:name=".qubeTestResults.QubePatientInfoActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>